{{#if block.data.details.relatedList}}
  <h1 class="p-title">{{fa-icon "link" fixedWidth=true}} Related Searches on Wikipedia</h1>
  <ul class="link-list">
    {{#each block.data.details.relatedList as |item|}}
      <li><a class="p-link" href="{{item.link}}">{{item.label}}</a></li>
    {{/each}}
  </ul>
{{/if}}
