<div class="description">
    <p>
        {{#if block.data.details.para}}
            {{block.data.details.para}}
        {{/if}}
    </p>
</div>

    <div class="lists">
        <p>
            <i class="fa fa-bold fa-wikipedia-w"></i><span class="lists"> Related Searches</span>
        </p>

            <ul>
			{{#for block.data.list as |item index|}}
                {{#if block.data.details.resultCount >= index}}
                    <li><a href="{{block.data.details.url[index]}}"> {{block.data.details.list[index]}}</a></li>
                {{/if}}
			{{/for}}
            </ul>

    </div>