
{{#if block.data.details.relatedList}}
    <div>
  <span class="p-title">{{fa-icon "wikipedia-w" fixedWidth=true}} Related Searches in Wiki</span>
    </div>
    <div>
		{{#each block.data.details.relatedList as |item|}}
                <li><a href="{{item.link}}"> {{item.label}}</a></li>
		{{/each}}
    </div>
{{/if}}
